body{
    font-family: 'Courier New', Courier, monospace;
    text-align:center;
}

#board{
    /* background-color: skyblue; */
    background-image: url("./images/flappybirdbg.png");
}
#menu{
    #text{
        font-size: 50px;
        margin-top: 100px;
    }
    background-color: skyblue;

}